body{
	width: 100%;

}

/*Intro-name*/
.intro-name{
	width: 641px;
	height: 150px;
	background-color: #23272F;
	text-align: center;
	color: #F29722;
	padding: 50px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}
/*Wrapper*/
.wrapper{
	position: relative;
}

/*Main content*/	
.content{
	position: absolute;
	top: 0;
}

/*Footer*/
.foot{
	position: absolute;
	bottom: 0;
}